html, body, #map-canvas{
	width: 100%;
	margin: 0px;
	height: 100%;
}
*{
	font-family: 'Roboto', sans-serif;
}
#search-box{
	position: absolute;
	top: 70px;
	width: 50%;
	left: 25%;
	padding: 0px;
}

#search-box input{
	border: none;
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
#search-box button{
	border-color: #2980b9;
	background-color: #2980b9;
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}




#timeCards{
	height: 100%;
	width: 300px;
	position: absolute;
	right: 0px;
	top:70px;
	padding:10px;
}
.card{
	width: 100%;
	background-color: #fff;
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
	padding: 10px;
	color: #444;
	list-style: none;
  	overflow: hidden;
  	margin-bottom: 10px;
}


.swing {
  -webkit-perspective: 700px;
          perspective: 700px;
}
.swing .card {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
          transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}

.swing .card.show {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
          transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}
.card .glyphicon-remove{
	color: #999;
}

.card .title{
	margin-bottom: 5px;
}
.card .logo{
	max-width: 100%;
	float: left;
}
.card .station{
	float: right;
	width: 85%;
	text-align: center;
}
.card h4{
	margin: 5px;
}
.card .time{
	font-size: 18px;
	font-weight: 400;
}
.alerts{
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 5px;
	border-top: 1px solid #e8e8e8;
}

